<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Basecoat UI Demo Page{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale">

    {# Project Assets #}
    <c-ds.css-js-assets />

    {% block extra_head %}{% endblock extra_head %}
  
  </head>
  <body>

    <aside id="sidebar" class="sidebar" data-side="left">
      <nav aria-label="Sidebar navigation">
        <section class="scrollbar-sm">
          <div role="group" aria-labelledby="group-label-content-1">
            <h3 id="group-label-content-1">Getting started</h3>
            <ul>
              <li>
                <a href="{% url basecoat_ds.base_url %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                  <span>Home Page</span>
                </a>
              </li>
            </ul>
          </div>

          <div role="group" aria-labelledby="group-label-sidebar-content-2">
            <h3 id="group-label-sidebar-content-2">Components</h3>
            <ul>
              {% for comp_key, comp_data in basecoat_ds.components.items %}
                <li>
                  {% url comp_data.url_path as component_url %}
                  <a
                    href="{{ component_url }}"
                    class="{% if request.path == component_url %}menu-active{% endif %}"
                  >{{ comp_data.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
      </nav>
    </aside>

    <main id="content">
      <header class="sticky inset-x-0 top-0 isolate z-30 flex shrink-0 items-center gap-2 border-b bg-background">
        <div class="flex h-14 w-full items-center justify-between gap-2 px-4">
          <button type="button" onclick="document.getElementById('sidebar')?.toggle()">Toggle sidebar</button>
        </div>
      </header>
      <div id="contentInner" class="flex gap-10 p-4 md:p-6 xl:p-12 h-full">
        <div class="w-full max-w-5xl mx-auto">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </main>

  </body>
</html>
